#svg-container {
	display: grid;
	grid-template-columns: auto 80% auto;
	grid-template-areas: ". svg-container .";
	height: 100vh;
	background-color: black;

	@include md {
		grid-template-columns: auto 70% auto;
	}

	@include lg {
		grid-template-columns: auto 60% auto;
	}

	@include xl {
		grid-template-columns: auto 1200px auto;
	}

	>div {
		display: flex;
		align-items: center;

		grid-area: svg-container;

		

		#svg-content {
			position: relative;
			// border: solid 1px red;
			width: 100%;

			#EdRooneyIMG{
				position: absolute;
				top:20%;
				height: 40%;
				left:37%;
			}

			svg {
				margin-top: -15%;
				width: 100%;
			}
		}
	}
}